* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: goldenrod;
    color: black;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

#jumpMenu a {
    color: blue;
    text-decoration: underline;
    display: block;
    margin: 22px 0;
    text-align: center;
}


main {
    margin-left: 15%;
    padding-top: 100px; 
}

header {
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    background-color: red;
}

header > p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 25px 0;
    color: black;
}

header nav {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

header nav button {
    background-color: blue;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 15px 40px;
    margin: 0 20px;
}

h1 {
    text-align: center;
    margin-top: 90px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

article {
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    line-height: 1.5;
}

article h2 {
    margin-bottom: 10px;
}

#thanks {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: lightblue;
    padding: 25px 35px;
    font-size: 1.6rem;
    border: 1px solid black;
}

footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}
body{
    font-family: Arial, sans-serif;
}