body
{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: Black;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 5em;
}
h2 {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 1.8em;
}

h3{
    color: black;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
#paragraph2{
    background-color: white;
    border: 5px solid green;
    text-align: left;
    padding: 30px;
    margin: 20px 20px 0 20px;
    width: 60%;
    line-height: 1.8;
    
}

.blue {
    background-color: darkblue;
    color: white;
    padding: 20px;
}
ol {
  list-style-type: decimal-leading-zero;
  line-height: 1.5;
}
a {
    color: darkblue;
    text-decoration: underline;
}

a:link {
    color: darkred;
    text-decoration: underline;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
th {
    background-color: lightgray;
    padding: 1px;
}
td {
    background-color: white;
}